.user{
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  outline: none;

  &.focused{
    background-color: lightgoldenrodyellow;
    outline: none;
    cursor: pointer;
  }
}